@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
    margin: 0px;
    padding: 0px;
    font-family: roboto;
    color: #fff;
}
body {
    background: #222;
}
.container {
    background: #333;
}
.welcome {
    height: 100vh;
    background-image: url(bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.but {
    width: 120px;
    height: 50px;
    margin-top: 50px;
    font-size: 1.2em;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 5px;
    background: none;
}
.but:active {
    background: #fff;
}
.centerText {
    text-align: center;
    font-weight: lighter;
    font-size: 2em;
}
.about {
    background: #333;
    height: 80vh;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-gap: 100px;
    margin: 0px 10%;
}
.block {
    background: #222;
    border-radius: 20px;
}
.aboutText {
    text-align: center;
    padding: 30px;
    font-size: 1.2em;
    text-align: start;
}
.aboutText h1 {
    text-align: center;
}
.books {
    background-image: linear-gradient(
            rgba(50, 50, 50, 0.6),
            rgba(50, 50, 50, 0.6)
        ),
        url(books.jpg);
    /* background-blend-mode: multiply; */
    background-size: cover;
    position: relative;
    background-position: center;
    border: 15px solid #222;
}
.author {
    height: 100vh;
}
.me {
    background: #222;
    margin: 0px 10%;
    margin-top: 200px;
    height: 60vh;
    border-radius: 20px;
    padding: 50px;
    font-size: 20px;
}
@media only screen and (max-width: 1000px){
    .me {
        margin: 0px 5%;
        margin-top: 100px;
        height: 80vh;
    }
    .about {
        display: flex;
        flex-direction: column;
        margin: 0px 5%;
        height: 200vh;
    }
    .aboutText{
        height: 80vh;
    }
    .books{
        height: 80vh;
    }
}
